<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
	<h1>{{ title }}</h1>
	<table>
		<tr>
			<th>Customer Name</th> 
			<th>Order Date</th> 
			<th>Quantity</th> 
			<th>Item</th> 
		</tr>
			<tr>
				<td>{{order.customer_name}}</td>
				<td>{{order.order_date}}</td>
				<td>{{order.quantity}} </td>
				<td>{{order.item}}</td>
			</tr>
	</table>
	
</body>
</html>